html {
	font-size: 16px;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
br {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: var(--dark-color);
	text-decoration: none;
	font-weight: 600;
}

button {
	border: none;
	width: auto;
	overflow: visible;
	background: transparent;
	color: inherit;
	font: inherit;
	line-height: normal;
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;
}

button,
a {
	text-align: inherit;
	cursor: pointer;
}

body {
	font-family: var(--ff-primary);
	background-color: var(--background-color);
	color: var(--dark-color);
}

main {
	display: flex;
	flex-direction: column;
	gap: 7.5rem;
}

main,
footer {
	margin-inline: auto;
	width: 100%;
	max-width: 72rem;
	padding-inline: 1.5rem;
	z-index: 9;
}

::selection {
	background-color: var(--primary-color);
	color: var(--background-color);
}

::-moz-selection {
	background-color: var(--primary-color);
	color: var(--background-color);
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
	background-color: var(--primary-color);
}
