@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
	--ff-primary: 'Plus Jakarta Sans', sans-serif;
	--primary-color: #7eb7d7;
	--secondary-color: #3c6994;
	--dark-color: #292b33;
	--background-color: #f9fafb;

	--youtube-color: #ff0000;
	--twitter-color: #1da1f2;
	--instagram-color: #e4405f;
	--tiktok-color: #000000;
	--facebook-color: #1877f2;

	--border-radius: 0.375rem;
}

/* additional class */

.fa-brands {
	font-size: 1.125rem;
	transition: 0.2s ease-in-out;
}

.fa-brands-youtube:hover {
	color: var(--youtube-color);
}

.fa-brands-twitter:hover {
	color: var(--twitter-color);
}

.fa-brands-instagram:hover {
	color: var(--instagram-color);
}

.fa-brands-tiktok:hover {
	color: var(--tiktok-color);
}

.fa-brands-facebook:hover {
	color: var(--facebook-color);
}

.section-title {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	text-align: center;
	font-weight: 800;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: var(--primary-color);
}

.btn-primary {
	width: fit-content;
	padding: 0.5rem 1rem;
	font-size: 0.875rem;
	font-weight: 600;
	background-color: var(--primary-color);
	color: var(--background-color);
	border: none;
	border-radius: var(--border-radius);
	transition-duration: 300ms;
}

.btn-primary:hover {
	background-color: var(--secondary-color);
}

.logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-weight: 800;
	color: var(--primary-color);
	transition: 0.25s ease-in-out;
}

.logo:hover {
	color: var(--secondary-color);
}

/* header */

.header {
	top: 0;
	position: sticky;
	background-color: var(--background-color);
	transition: 0.3s ease-in-out;
	z-index: 999;
}

.header .navbar {
	width: 100%;
	max-width: 72rem;
	margin-inline: auto;
	min-height: 4.5rem;
	padding-inline: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-item .nav-link {
	position: relative;
	transition: 0.3s ease-in-out;
}

.nav-item .nav-link:hover {
	color: var(--primary-color);
}

.nav-item .nav-link::after {
	content: '';
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translateX(-50%);
	min-height: 0.188rem;
	min-width: 0;
	border-radius: var(--border-radius);
	background-color: var(--primary-color);
	transition: 0.3s ease-in-out;
}

.nav-item .nav-link:hover::after {
	min-width: 100%;
}

.header .navbar .nav-menu,
.header .navbar .social-list {
	display: none;
}

/* mobile menu */

.blur {
	inset: 0;
	position: fixed;
	background-color: var(--background-color);
	background-color: var(--background-color) / 0.2;
	--webkit-backdrop-filter: blur(6px);
	backdrop-filter: blur(6px);
	transition: all 0.3s ease-in-out;
	z-index: -9;
	opacity: 0;
}

.blur.show {
	opacity: 1;
	z-index: 99;
}

.mobile-menu-container {
	top: 45%;
	left: 50%;
	position: fixed;
	transform: translate(-50%, -50%);
	max-width: 18.75rem;
	width: 80%;
	padding: 1rem;
	text-align: center;
	border-radius: var(--border-radius);
	background-color: var(--background-color);
	box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
	transition: all 0.3s ease-in-out;
	z-index: -9;
	opacity: 0;
}

.mobile-menu-container.show {
	top: 50%;
	opacity: 1;
	z-index: 999;
}

.mobile-menu-container .mobile-menu {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 1rem;
}

.mobile-menu-container .social-mobile {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.2rem;
}

/* hamburger menu */

.hamburger {
	display: block;
	cursor: pointer;
	border-radius: var(--border-radius);
	padding: 0.25rem 0.5rem;
	transition: 0.4s ease-in-out;
}

.hamburger:hover {
	background-color: var(--light-hover);
}

.hamburger .bar {
	display: block;
	width: 23px;
	height: 3px;
	border-radius: var(--border-radius);
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: var(--dark-color);
}

.hamburger.active .bar:first-child {
	transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
	opacity: 0;
}

.hamburger.active .bar:last-child {
	transform: translateY(-8px) rotate(-45deg);
}

/* hero */

.hero {
	display: flex;
	margin-top: 1rem;
	height: calc(100vh - 5.5rem);
	justify-content: space-between;
	flex-direction: column;
}

.hero-intro {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.hero-intro .hero-title {
	font-size: 3rem;
	font-weight: 800;
	text-transform: uppercase;
}

.hero-intro .hero-description {
	font-size: 1rem;
	line-height: 2rem;
}

.hero .hero-quotes {
	display: none;
}

/* skins */

.skins {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.skins .skins-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
}

.skins-wrapper .skins-switcher {
	display: flex;
	gap: 2rem;
}

.skins-switcher .btn-switcher {
	position: relative;
	width: 4rem;
}

.skins-switcher .btn-switcher:nth-child(1)::before {
	content: 'Shaman';
}

.skins-switcher .btn-switcher:nth-child(2)::before {
	content: 'Kimono';
}

.skins-switcher .btn-switcher:nth-child(3)::before {
	content: 'Batik';
}

.skins-switcher .btn-switcher:nth-child(1)::before,
.skins-switcher .btn-switcher:nth-child(2)::before,
.skins-switcher .btn-switcher:nth-child(3)::before {
	position: absolute;
	top: -20px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	width: fit-content;
	font-size: 0.875rem;
	font-weight: 600;
	background-color: var(--primary-color);
	color: var(--background-color);
	border-radius: var(--border-radius);
	padding: 0.25rem 0.5rem;
	opacity: 0;
	transition: all 0.5s ease;
}

.skins-switcher .btn-switcher:hover:nth-child(1)::before,
.skins-switcher .btn-switcher:hover:nth-child(2)::before,
.skins-switcher .btn-switcher:hover:nth-child(3)::before {
	top: -30px;
	opacity: 1;
}

.skins-switcher .btn-switcher:hover:nth-child(3)::before {
	top: -30px;
	opacity: 1;
}

.btn-switcher > img {
	object-fit: cover;
}

.skins-wrapper .skins-image-wrapper {
	height: 450px;
	text-align: center;
}

.skins-image-wrapper > img {
	height: 100%;
	object-fit: cover;
	transition: opacity 0.3s ease;
}

.skins-container .skins-info-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 2rem;
}

.skins-info-wrapper .skins-info-title {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	font-size: 2rem;
	font-weight: 800;
}

.skins-info-wrapper .skins-info-title > span,
.skins-info-wrapper .skins-info-description {
	font-size: 0.875rem;
	line-height: 2rem;
}

.skins-info-wrapper .social-stats {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
	gap: 0.75rem;
}

.social-stats .social-stats-item {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	gap: 0.5rem;
	font-size: 1rem;
	padding: 0.75rem;
	background-color: var(--primary-color);
	color: var(--background-color);
	border-radius: var(--border-radius);
	transition: 0.3s ease-in-out;
	cursor: pointer;
}

.social-stats .social-stats-item:hover {
	background-color: var(--secondary-color);
}

.social-stats-item > .fa-brands {
	font-size: 1.2rem;
}

.social-stats-item .stats-count {
	font-weight: 800;
}

/* Music */

.music .music-list-container {
	width: 100%;
	height: 13.75rem;
}

.music .new-released-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 3rem 0 1rem 0;
}

.new-released-container .card-item {
	width: 100%;
	height: 13.75rem;
}

/* Card Style */

.card-item {
	position: relative;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	gap: 1rem;
	color: var(--background-color);
	border-radius: var(--border-radius);
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	overflow: hidden;
}

.card-item::after {
	content: '';
	position: absolute;
	inset: 0;
	background-image: linear-gradient(to top, var(--dark-color), transparent);
	z-index: -1;
}

.card-item .card-background-image {
	position: absolute;
	object-fit: cover;
	object-position: center;
	height: 100%;
	width: 100%;
	z-index: -1;
	transition: transform 0.3s ease;
}

.card-item:hover .card-background-image {
	transform: scale(1.2);
}

.card-item .card-description {
	display: flex;
	flex-direction: column;
	gap: 6px;
	margin-left: 0.875rem;
	width: fit-content;
}

.card-description .card-title {
	font-size: 1.5rem;
	font-weight: 800;
	color: var(--background-color);
}

.card-description .card-title:hover {
	cursor: pointer;
	text-decoration: underline;
}

.card-description .card-release-date {
	font-weight: 500;
}

.card-item .card-category {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-inline: 0.875rem;
	margin-bottom: 0.875rem;
}

.card-category .card-category-item {
	padding: 6px 14px;
	background-color: var(--background-color);
	color: var(--dark-color);
	font-size: 0.75rem;
	border-radius: 100vh;
}

/* videos */

.videos {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.videos .outer-container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.videos-container .videos-list-container {
	width: 100%;
	height: 13.75rem;
}

.videos-container .highlights-container {
	margin-bottom: 1rem;
}

.highlights-container .card-item {
	width: 100%;
	height: 13.75rem;
}

.live-notification .live-notification-title {
	padding: 0.5rem;
	margin-bottom: 1rem;
	font-size: 1rem;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: var(--primary-color);
	color: var(--background-color);
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
}

.live-notification .notification-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.notification-container .notification-item {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.notification-item .notification-image {
	height: 3.875rem;
	width: 6.125rem;
	aspect-ratio: 1 / 1;
	box-shadow: 0px 0px 8px 0px rgba(23, 23, 23, 0.44);
	-webkit-box-shadow: 0px 0px 8px 0px rgba(23, 23, 23, 0.44);
	-moz-box-shadow: 0px 0px 8px 0px rgba(23, 23, 23, 0.44);
	overflow: hidden;
	border-radius: var(--border-radius);
}

.notification-image > img {
	height: 100%;
	width: 100%;
	object-fit: fill;
	object-position: center;
}

.notification-item .notification-text {
	flex-direction: column;
	flex-shrink: 8;
	display: flex;
	gap: 0.25rem;
}

.notification-text .notification-text-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.375rem;
}

.notification-text-wrapper .notification-link {
	font-size: 0.875rem;
	font-weight: 800;
	cursor: pointer;
}

.notification-text-wrapper .notification-link:hover {
	text-decoration: underline;
}

.notification-text-wrapper > time {
	padding-block: 0.125rem;
	padding-inline: 0.5rem;
	font-size: 0.625rem;
	font-weight: 600;
	color: var(--background-color);
	background-color: var(--dark-color);
	border-radius: 100vh;
}

.notification-text > p {
	font-size: 0.813rem;
	line-height: 1.25rem;
	text-transform: lowercase;
}

/* data */

.data {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.data .data-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.data-container .data-item {
	width: 100%;
	position: relative;
	padding: 1rem;
	height: 11.25rem;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	gap: 1rem;
	color: var(--background-color);
	border-radius: var(--border-radius);
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	overflow: hidden;
}

.data-container .data-item::after {
	content: '';
	position: absolute;
	inset: 0;
	background-image: linear-gradient(to top, var(--dark-color), transparent);
}

.data-item .background-data {
	position: absolute;
	inset: 0;
	object-fit: cover;
	object-position: center;
	height: 100%;
	width: 100%;
	transition: transform 0.3s ease;
}

.data-item:hover .background-data {
	transform: scale(1.2);
}

.data-item .data-icon {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding-right: 0.75rem;
	font-weight: 800;
	filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
		drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
	z-index: 1;
}

.data-icon .data-title {
	font-weight: 600;
}

.data-item .data-description {
	font-size: 2rem;
	font-weight: 800;
	color: var(--background-color);
	z-index: 1;
}

.data-item > a {
	width: fit-content;
}

.data-item > a:hover {
	text-decoration: underline;
}

/* footer */

.footer {
	padding: 2rem;
	margin-top: 7.5rem;
	display: flex;
	flex-wrap: wrap;
	gap: 4rem;
}

.footer-content-container .terms-list {
	display: none;
}

.footer .footer-item-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 4rem;
}

.footer-item-container .footer-item {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.footer-item .footer-list-item {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.footer-item .footer-item-title {
	font-weight: 800;
}

.footer-list-item .member-footer-item {
	cursor: pointer;
	width: fit-content;
}

.footer-item .member-footer-item:hover {
	text-decoration: underline;
}

.member-footer-item > a {
	font-weight: 400;
}

.footer .terms-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

.terms-list .terms-item {
	font-size: 0.875rem;
	font-weight: 600;
}

/* customizing swiper button */

.swiper-button-next,
.swiper-button-prev {
	top: 15%;
	height: 5rem;
	width: 2.188rem;
	background-color: var(--background-color);
	border-radius: 100vh;
	box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.swiper-button-next::after,
.swiper-button-prev::after {
	font-size: 1.5rem;
	font-weight: 800;
	color: var(--secondary-color);
}
