@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
	--ff-primary: 'Plus Jakarta Sans', sans-serif;
	--primary-color: #7eb7d7;
	--secondary-color: #3c6994;
	--dark-color: #292b33;
	--background-color: #f9fafb;

	--youtube-color: #ff0000;
	--twitter-color: #1da1f2;
	--instagram-color: #e4405f;
	--tiktok-color: #000000;
	--facebook-color: #1877f2;
}

/* additional class */

.fa-brands {
	font-size: 18px;
	transition: 0.2s ease-in-out;
}

.fa-youtube:hover {
	color: var(--youtube-color);
}

.fa-twitter:hover {
	color: var(--twitter-color);
}

.fa-instagram:hover {
	color: var(--instagram-color);
}

.fa-tiktok:hover {
	color: var(--tiktok-color);
}

.fa-facebook:hover {
	color: var(--facebook-color);
}

.section-title {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	text-align: center;
	font-weight: 800;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: var(--primary-color);
}

.btn-primary {
	width: fit-content;
	padding: 0.5rem 1rem;
	font-size: 0.875rem;
	font-weight: 600;
	background-color: var(--primary-color);
	color: var(--background-color);
	border: none;
	border-radius: 0.25rem;
	transition-duration: 300ms;
}

.btn-primary:hover {
	background-color: var(--secondary-color);
}

/* header */

.header {
	top: 0;
	position: sticky;
	background-color: var(--background-color);
	transition: 0.3s ease-in-out;
	z-index: 999;
}

.header .navbar {
	width: 100%;
	max-width: 68rem;
	margin-inline: auto;
	min-height: 72px;
	padding-inline: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-weight: 800;
	color: var(--primary-color);
	transition: 0.25s ease-in-out;
}

.logo:hover {
	color: var(--secondary-color);
}

.header .navbar .nav-menu,
.header .navbar .social-list {
	display: none;
}

/* mobile menu */

.blur {
	inset: 0;
	position: fixed;
	background-color: var(--background-color);
	background-color: var(--background-color) / 0.2;
	--webkit-backdrop-filter: blur(6px);
	backdrop-filter: blur(6px);
	transition: all 0.3s ease-in-out;
	z-index: -9;
	opacity: 0;
}

.blur.show {
	opacity: 1;
	z-index: 99;
}

.mobile-menu-container {
	top: 45%;
	left: 50%;
	position: fixed;
	transform: translate(-50%, -50%);
	max-width: 300px;
	width: 80%;
	padding: 1rem;
	text-align: center;
	border-radius: 0.5rem;
	background-color: var(--background-color);
	box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
	transition: all 0.3s ease-in-out;
	z-index: -9;
	opacity: 0;
}

.mobile-menu-container.show {
	top: 50%;
	opacity: 1;
	z-index: 999;
}

.mobile-menu-container .mobile-menu {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 1rem;
}

.mobile-menu-container .social-mobile {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.2rem;
}

/* hamburger menu */

.hamburger {
	display: block;
	cursor: pointer;
	border-radius: 4px;
	padding: 4px 7px;
	transition: 0.4s ease-in-out;
}

.hamburger:hover {
	background-color: var(--light-hover);
}

.hamburger .bar {
	display: block;
	width: 23px;
	height: 3px;
	border-radius: 100vw;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: var(--dark-color);
}

.hamburger.active .bar:first-child {
	transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
	opacity: 0;
}

.hamburger.active .bar:last-child {
	transform: translateY(-8px) rotate(-45deg);
}

/* hero */

.hero {
	display: flex;
	margin-top: 1rem;
	height: calc(100vh - 88px);
	justify-content: space-between;
	flex-direction: column;
}

.hero-intro {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.hero-intro .hero-title {
	font-size: 48px;
	font-weight: 800;
	text-transform: uppercase;
}

.hero-intro .hero-description {
	font-size: 1rem;
	line-height: 32px;
}

.hero .hero-quotes {
	display: none;
}

/* skins */

.skins {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.skins-wrapper .skins-switcher {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
	gap: 2rem;
}

.skins-switcher .btn-switcher {
	width: 64px;
}

.btn-switcher > img {
	object-fit: cover;
}

.skins-wrapper .skins-image-wrapper {
	height: 450px;
	transition: opacity 0.3s ease;
	text-align: center;
}

.skins-image-wrapper > img {
	height: 100%;
	object-fit: cover;
}

.skins-container .skins-info-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 2rem;
}

.skins-info-wrapper .skins-info-title {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	font-size: 2rem;
	font-weight: 800;
}

.skins-info-wrapper .skins-info-title > span,
.skins-info-wrapper .skins-info-description {
	font-size: 0.875rem;
	line-height: 32px;
}

.skins-info-wrapper .social-stats {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
	gap: 12px;
}

.social-stats .social-stats-item {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	gap: 8px;
	font-size: 1rem;
	padding: 12px;
	background-color: var(--primary-color);
	color: var(--background-color);
	border-radius: 6px;
	transition: 0.3s ease-in-out;
}

.social-stats .social-stats-item:hover {
	background-color: var(--secondary-color);
}

.social-stats-item > * {
	cursor: default;
}

.social-stats-item > .fa-brands {
	font-size: 1.2rem;
}

.social-stats-item .stats-count {
	font-weight: 800;
}

/* Music */

.music .music-list-container {
	width: 100%;
	height: 220px;
}

.music .new-released-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.new-released-container .card-item {
	width: 100%;
	height: 220px;
}

/* Card Style */

.card-item {
	position: relative;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	gap: 1rem;
	color: var(--background-color);
	border-radius: 6px;
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	overflow: hidden;
}

.card-item::after {
	content: '';
	position: absolute;
	inset: 0;
	background-image: linear-gradient(to top, var(--dark-color), transparent);
	z-index: -1;
}

.card-item .card-background-image {
	position: absolute;
	object-fit: cover;
	object-position: center;
	height: 100%;
	width: 100%;
	z-index: -1;
	transition: transform 0.3s ease;
}

.card-item:hover .card-background-image {
	transform: scale(1.2);
}

.card-item .card-description {
	display: flex;
	flex-direction: column;
	gap: 6px;
	margin-left: 14px;
	width: fit-content;
}

.card-description .card-title {
	font-size: 1.5rem;
	font-weight: 800;
	color: var(--background-color);
}

.card-description .card-title:hover {
	cursor: pointer;
	text-decoration: underline;
}

.card-description .card-release-date {
	font-weight: 500;
}

.card-item .card-category {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-inline: 14px;
	margin-bottom: 14px;
}

.card-category .card-category-item {
	padding: 6px 14px;
	background-color: var(--background-color);
	color: var(--dark-color);
	font-size: 12px;
	border-radius: 100vh;
}

/* videos */

.videos {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.videos .outer-container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.videos-container .videos-list-container {
	width: 100%;
	height: 220px;
}

.videos-container .highlights-video-container {
	margin-bottom: 1rem;
}

.highlights-video-container .card-item {
	width: 100%;
	height: 220px;
}

.live-notification .live-notification-title {
	padding: 8px;
	margin-bottom: 1rem;
	font-size: 1rem;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: var(--primary-color);
	color: var(--background-color);
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.live-notification .notification-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	gap: 1.2rem;
}

.notification-container .notification-item {
	display: flex;
	align-items: center;
	gap: 12px;
}

.notification-item .notification-image {
	height: 62px;
	width: 98px;
	aspect-ratio: 1 / 1;
	box-shadow: 0px 0px 8px 0px rgba(23, 23, 23, 0.44);
	-webkit-box-shadow: 0px 0px 8px 0px rgba(23, 23, 23, 0.44);
	-moz-box-shadow: 0px 0px 8px 0px rgba(23, 23, 23, 0.44);
	overflow: hidden;
	border-radius: 6px;
}

.notification-image > img {
	height: 100%;
	width: 100%;
	object-fit: fill;
	object-position: center;
}

.notification-item .notification-text {
	flex-shrink: 8;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.notification-text .notification-text-wrapper {
	display: flex;
	align-items: center;
	gap: 6px;
}

.notification-text-wrapper .notification-link {
	font-size: 0.875rem;
	font-weight: 800;
	cursor: pointer;
}

.notification-text-wrapper .notification-link:hover {
	text-decoration: underline;
}

.notification-text-wrapper > time {
	padding-block: 2px;
	padding-inline: 8px;
	font-size: 10px;
	font-weight: 600;
	color: var(--background-color);
	background-color: var(--dark-color);
	border-radius: 100vh;
}

.notification-text > p {
	font-size: 13px;
	line-height: 20px;
	text-transform: lowercase;
}

/* customizing swiper button */

.swiper-button-next,
.swiper-button-prev {
	top: 15%;
	height: 80px;
	width: 35px;
	background-color: var(--background-color);
	border-radius: 100vh;
	box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.swiper-button-next::after,
.swiper-button-prev::after {
	font-size: 1.5rem;
	font-weight: 800;
	color: var(--secondary-color);
}
