@media (min-width: 440px) {
	.hero {
		background-image: url(../assets/icon.png);
		background-position: bottom right;
		background-size: calc(100vh - 70vh);
		background-repeat: no-repeat;
	}
}

@media (min-width: 540px) {
	.hero {
		background-size: calc(100vh - 65vh);
	}

	.hero-intro .hero-title {
		font-size: 58px;
	}

	main {
		padding-inline: 2rem;
	}
}

@media (min-width: 643px) {
	.hero {
		background-image: url(../assets/icon.png), url(../assets/icon.png),
			url(../assets/icon.png);
		background-position: left bottom, center bottom, right bottom;
		background-size: calc(100vh - 75vh);
	}

	.hero-intro .hero-title {
		font-size: 62px;
	}

	.hero-intro .hero-title,
	.hero-intro .hero-description {
		text-align: center;
	}

	.hero-intro a {
		margin-inline: auto;
	}

	.skins-container .skins-wrapper {
		display: flex;
		justify-content: center;
	}

	.skins-wrapper .skins-switcher {
		flex-direction: column;
	}

	.skins-switcher .btn-switcher {
		width: 72px;
	}

	.skins-wrapper .skins-image-wrapper {
		height: 500px;
	}

	.skins-info-wrapper .skins-info-title {
		font-size: 2.5rem;
	}

	.skins-info-wrapper .skins-info-title > span,
	.skins-info-wrapper .skins-info-description {
		font-size: 1rem;
	}
}

@media (min-width: 800px) {
	.hamburger {
		display: none;
	}

	.header .navbar .nav-menu,
	.header .navbar .social-list {
		display: flex;
		align-items: center;
	}

	.header .navbar .nav-menu {
		gap: 2rem;
	}

	.header .navbar .social-list {
		gap: 1rem;
	}

	.mobile-menu-container {
		display: none;
	}

	.hero {
		flex-direction: row;
		align-items: flex-start;
		gap: 2rem;
		background-image: url(../assets/icon.png);
		background-size: calc(100vh - 40vh);
		background-position: right bottom;
	}

	.hero .hero-intro {
		width: 50vw;
	}

	.hero-intro .hero-title,
	.hero-intro .hero-description {
		text-align: left;
	}

	.hero-intro a {
		margin-inline: initial;
	}

	.hero .hero-quotes {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1rem;
		width: 35vw;
	}

	.hero-quotes .quote {
		font-size: 14px;
		font-weight: 500;
		line-height: 24px;
		border-left: 2px solid var(--primary-color);
		padding-left: 8px;
	}

	.hero-quotes .quote:first-child {
		display: none;
	}

	.hero-quotes .quote-author {
		font-weight: 800;
		font-size: 12px;
	}

	.skins .skins-container {
		display: flex;
		justify-content: center;
	}

	.skins-container .skins-wrapper {
		width: 50vw;
	}

	.skins-container .skins-info-wrapper {
		width: 50vw;
	}

	.skins-wrapper .skins-switcher {
		flex-direction: column;
		gap: 1rem;
	}

	.skins-wrapper .skins-image-wrapper {
		margin-inline: auto;
	}

	.skins-switcher .btn-switcher {
		width: 62px;
	}
}

@media (min-width: 1000px) {
	.header .navbar .nav-menu {
		gap: 3rem;
	}

	.hero {
		align-items: center;
		background-image: url(../assets/hero-image.png);
		background-size: calc(100vh - 20vh);
		background-position: 30vw;
	}

	.hero .hero-intro {
		width: 35vw;
	}

	.hero .hero-quotes {
		height: 90%;
		width: 25vw;
		display: flex;
		justify-content: space-between;
	}

	.hero-quotes .quote:first-child {
		display: block;
	}

	.hero-intro .hero-title {
		font-size: 60px;
	}

	.hero-intro .hero-description {
		font-size: 14px;
	}

	.skins-wrapper .skins-image-wrapper {
		height: 600px;
	}

	.skins-switcher .btn-switcher {
		width: 68px;
	}
}

@media (min-width: 1280px) {
	.hero {
		background-position: 22vw;
	}

	.hero .hero-intro {
		width: 30vw;
	}

	.hero-intro .hero-title {
		font-size: 68px;
	}

	.hero-quotes .quote,
	.hero-intro .hero-description {
		font-size: 1rem;
	}
}
