@media (min-width: 800px) {
	.hamburger {
		display: none;
	}

	.header .navbar .nav-menu,
	.header .navbar .social-list {
		display: flex;
		align-items: center;
	}

	.header .navbar .nav-menu {
		gap: 2rem;
	}

	.header .navbar .social-list {
		gap: 1rem;
	}

	.mobile-menu-container {
		display: none;
	}

	.hero-intro .hero-title {
		font-size: 72px;
		line-height: 84px;
	}

	.hero-intro .hero-description,
	.hero-quotes p {
		font-size: 1.2rem;
		line-height: 34px;
	}
}

@media (min-width: 951px) {
	.hero {
		background-size: 75vmin;
		background-image: url(../assets/hero-image.png);
		background-position: center;
		background-repeat: no-repeat;
		margin-top: 0;
		flex-direction: row;
		gap: 3rem;
	}

	.hero .hero-quotes {
		height: calc(100vh - 120px);
		flex-direction: column;
		justify-content: space-between;
		flex-shrink: 10;
	}

	.hero-quotes .quote {
		border-left: 4px solid var(--primary-color);
		padding-left: 10px;
	}

	.hero-intro .hero-title {
		font-size: 64px;
		line-height: 72px;
		text-align: left;
	}

	.hero a {
		margin-top: 1rem;
		margin-inline: initial;
		font-size: 1rem;
	}

	.hero-intro .hero-description,
	.hero-quotes p {
		font-size: 12px;
		line-height: 28px;
		text-align: left;
	}
}

@media (min-width: 1032px) {
	.header .navbar .nav-menu {
		gap: 3rem;
	}

	.hero {
		background-size: 80vmin;
	}

	.hero .hero-quotes {
		height: calc(100vh - 140px);
		margin-left: 40px;
	}

	.hero-intro .hero-title {
		font-size: 68px;
		line-height: 80px;
	}

	.hero-intro .hero-description,
	.hero-quotes p {
		font-size: 14px;
		line-height: 32px;
	}
}
